<div class="col-md-8 top-forms text-right mt-lg-3 mt-md-1 mt-0">
    @if (User.Identity.IsAuthenticated)
    {
        <span>Hoşgeldin @User.Identity.Name</span>
        <a class="btn btn-outline-info" href="/Dashboard/Index/">Yazar Paneli</a>
    }
    else
    {
        <span class="mx-lg-4 mx-md-2  mx-1">
        <a href="/Login/Index/">
            <i class="fas fa-lock"></i> Giriş Yap
        </a>
    </span>
    <span>
        <a href="/RegisterUser/Index/">
            <i class="far fa-user"></i> Kayıt ol
        </a>
    </span>
    }
</div>
